{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Account{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Current Balance</h2>
<section class="balance">
<p>
  <ul>
    <li>{{ get_balance }}</li>
    <li>balance here</li>
  </ul>
</p>
</section>

<h2>Deposit</h2>
<section class="deposit_form">
<p>
  <form method="post">
    <label for="amount">Dollar Amount</label>
    <input name="amount" id="amount" required>
    <input type="submit" value="Deposit">
  </form>
</p>
</section>

<h2>Withdraw</h2>
<section class="withdraw_form">
<p>
  <form method="post">
    <label for="amount">Dollar Amount</label>
    <input name="amount" id="amount" required>
    <input type="submit" value="Withdraw">
  </form>
</p>
</section>
</section>{% endblock %}
